.profile-pic {
    width: 200px;
    height: 120px;
    display: inline-block;
    background-size: cover;
}

.file-upload {
    display: none;
}
.circle {
    border-radius: 100% !important;
    overflow: hidden;
    width: 120px;
   
    border: 2px solid rgba(255, 255, 255, 0.2);
    
}
img {
    max-width: 100%;
    height: auto;
}
.p-image {
  position: relative;
  bottom: 40px;
  right: 15px;
  color: #666666;
  transition: all .3s cubic-bezier(.175, .885, .32, 1.275);
}
.p-image:hover {
  transition: all .3s cubic-bezier(.175, .885, .32, 1.275);
}
.upload-button {
  font-size: 1.2em;
}

.upload-button:hover {
  transition: all .3s cubic-bezier(.175, .885, .32, 1.275);
  color: #999;
}